<div class="marginTable">
  <p-table
    [value]="
      this.apiService.tasks
        | filter
          : controlService.searchText
          : controlService.selectedCategory
          : controlService.selectedTag
          : controlService.showDoneTask
    "
    responsiveLayout="scroll"
    [scrollable]="true"
  >
    <ng-template pTemplate="body" let-task let-i>
      <tr>
        <td>
          <div class="checkboxMargin">
            <p-checkbox
              [(ngModel)]="task.done"
              [binary]="true"
              (click)="setDoneTask(task)"
            ></p-checkbox>
            <div>
              <div>
                {{ task.text }}
              </div>
              <div class="subtitle">
                {{ task.category?.name }}
              </div>
            </div>
          </div>
        </td>

        <td class="btnTable">
          <div>
            <div class="btnStyle">
              <a
                class="pointer btnMargin"
                (click)="newSubTask(task.id)"
                pTooltip="New subtask"
                tooltipPosition="bottom"
              >
                <i class="pi pi-plus"></i>
              </a>
              <a
                class="pointer btnMargin"
                (click)="editTask(task)"
                pTooltip="Edit task"
                tooltipPosition="bottom"
              >
                <i class="pi pi-pencil"></i>
              </a>
              <a
                class="pointer btnMargin"
                (click)="deleteTask(task.id)"
                pTooltip="Delete task"
                tooltipPosition="bottom"
              >
                <i class="pi pi-times colorIcon"></i
              ></a>
            </div>
            <div>
              <p-table [value]="task.tags">
                <ng-template pTemplate="body" let-tag let-i>
                  <p-tag
                    [rounded]="true"
                    class="tagColor marginTag"
                    styleClass="text-900"
                  >
                    {{ tag.name }}
                  </p-tag>
                </ng-template></p-table
              >
            </div>
          </div>
        </td>
      </tr>

      <p-table [value]="task.subTasks" responsiveLayout="scroll">
        <ng-template pTemplate="body" let-subTask>
          <tr>
            <td class="marginTD">
              <div class="checkboxMargin">
                <p-checkbox
                  [(ngModel)]="subTask.done"
                  [binary]="true"
                  (click)="setDoneSubTask(task.id, subTask)"
                ></p-checkbox>
                <div>
                  {{ subTask.text }}
                </div>
              </div>
            </td>

            <td class="btnTable">
              <div class="btnStyle">
                <a
                  class="pointer btnMargin"
                  (click)="editSubTask(task.id, subTask)"
                  pTooltip="Edit subtask"
                  tooltipPosition="bottom"
                >
                  <i class="pi pi-pencil"></i>
                </a>
                <a
                  class="pointer btnMargin"
                  (click)="deleteSubTask(task.id, subTask.id)"
                  pTooltip="Delete subtask"
                  tooltipPosition="bottom"
                >
                  <i class="pi pi-times colorIcon"></i
                ></a>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </ng-template>
  </p-table>
</div>

<div *ngIf="this.controlService.displayEditSubTask">
  <p-dialog
    header="Edit SubTask"
    [(visible)]="this.controlService.displayEditSubTask"
    showEffect="fade"
    [modal]="true"
    [style]="{ width: '400px' }"
  >
    <app-subtask>(displayEditSubTask)="closeModalSubTask()"></app-subtask>
  </p-dialog>
</div>

<div *ngIf="this.controlService.displayNewSubTask">
  <p-dialog
    header="Edit SubTask"
    [(visible)]="this.controlService.displayNewSubTask"
    showEffect="fade"
    [modal]="true"
    [style]="{ width: '400px' }"
  >
    <app-subtask>(displayNewSubTask)="closeModalSubTask()"></app-subtask>
  </p-dialog>
</div>
