.marginTable {
  margin-left: 15px;
}

.checkboxMargin {
  margin-right: 10px;
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.subtitle {
  color: green;
  font-size: 13px;
  margin-top: 5px;
}

.marginTag {
  margin-right: 5px;
}

.btnStyle {
  margin-bottom: 5px;
  text-align: right;
}

.btnTable {
  display: flex;
  justify-content: right;
}

.marginTD {
  margin-left: 25px;
}
