<form [formGroup]="formSubTask" (ngSubmit)="buttonNewSubTask()">
  <div class="grid" style="margin: auto">
    <div class="col-12">
      <label required>SubTask Description <a style="color: red">*</a></label>
      <br />
      <div class="inputGroup labels">
        <input type="text" pInputText class="width100" formControlName="text" />
      </div>
      <div style="margin-top: 15px">
        <label>SortNumber</label><br />
        <div class="inputGroup labels">
          <p-inputNumber
            formControlName="sortNumber"
            [showButtons]="true"
            mode="decimal"
            class="width100"
            styleClass="width100"
          >
          </p-inputNumber>
        </div>
      </div>
      <div class="buttons">
        <p-button
          label="Cancel"
          class="p-button-secondary buttonCancel"
          (onClick)="buttonCancel()"
        ></p-button>
        <p-button
          label="Save"
          class="buttonSave"
          type="submit"
          [disabled]="formSubTask.invalid"
        ></p-button>
      </div>
    </div>
  </div>
</form>
