<form [formGroup]="formNewCategory">
  <div class="grid" style="margin: auto">
    <div class="col-12">
      <label>New category</label><br />
      <div class="inputGroup labels">
        <input
          type="text"
          pInputText
          class="width100"
          formControlName="newCategory"
        />
        <div class="noPadding">
          <p-button
            styleClass="buttonAdd"
            icon="pi pi-plus"
            class="width100"
            (onClick)="addCategory()"
          ></p-button>
        </div>
      </div>
    </div>
  </div>
</form>

<p-table
  [value]="this.apiService.categories"
  responsiveLayout="scroll"
  [scrollable]="true"
  scrollHeight="250px"
>
  <ng-template pTemplate="body" let-category let-i>
    <tr>
      <td>
        {{ category.name }}
      </td>
      <td class="btnTable">
        <a class="pointer btnMargin" (click)="openEditCategories(category)">
          <i class="pi pi-pencil"></i>
        </a>
        <a class="pointer" (click)="deleteCategory(category.id)">
          <i class="pi pi-times colorIcon"></i
        ></a>
      </td>
    </tr>
  </ng-template>
</p-table>

<div *ngIf="this.controlService.displayEditCategory">
  <p-dialog
    header="Edit category"
    [(visible)]="this.controlService.displayEditCategory"
    [responsive]="true"
    showEffect="fade"
    [modal]="true"
    [style]="{ width: '400px' }"
  >
    <form [formGroup]="formEditCategory" (ngSubmit)="editCategory()">
      <div class="grid" style="margin: auto">
        <div class="col-12">
          <label>Name category</label><br />
          <div class="inputGroup labels">
            <input
              type="text"
              pInputText
              class="width100"
              formControlName="newNameCategory"
            />
          </div>
          <div class="buttons">
            <p-button
              label="Cancel"
              class="p-button-secondary buttonCancel"
              (onClick)="buttonCancel()"
            ></p-button>
            <p-button label="Edit" class="buttonSave" type="submit"></p-button>
          </div>
        </div>
      </div>
    </form>
  </p-dialog>
</div>
