<div class="header">
  <a>CheckList</a>
  <div class="header-right">
    <a
      class="pointer"
      (click)="openCategories()"
      pTooltip="Categories"
      tooltipPosition="bottom"
    >
      <i class="pi pi-cog"></i>
    </a>
    <a
      class="pointer"
      (click)="openNewTask()"
      pTooltip="New task"
      tooltipPosition="bottom"
    >
      <i class="pi pi-plus"></i>
    </a>
  </div>
</div>

<div class="grid filterContainer">
  <div class="col-12 lg:col-3 md:col-6 sm:col-12">
    <p-dropdown
      class="dropdownSize"
      [styleClass]="'dropdownSize'"
      [options]="this.apiService.categories"
      [(ngModel)]="controlService.selectedCategory"
      optionLabel="name"
      placeholder="Filter by Category"
    ></p-dropdown>
  </div>
  <div class="col-12 lg:col-3 md:col-6 sm:col-12">
    <p-dropdown
      class="dropdownSize"
      [styleClass]="'dropdownSize'"
      placeholder="Filter by Tags"
      [options]="this.apiService.tags"
      [(ngModel)]="controlService.selectedTag"
      optionLabel="name"
    ></p-dropdown>
  </div>
  <div class="col-6 lg:col-3 md:col-6 sm:col-6">
    <input
      type="text"
      pInputText
      placeholder="Search by text"
      [(ngModel)]="controlService.searchText"
      class="inputSize"
    />
  </div>
  <div class="col-6 lg:col-3 md:col-6 sm:col-6 checkboxSize p-field-checkbox">
    <p-checkbox [(ngModel)]="controlService.showDoneTask" [binary]="true">
    </p-checkbox>
    <label class="checkboxLabel">Show done task</label>
  </div>
</div>

<div class="grid rowToDo">
  <div class="col-6">
    <div class="marginLabel">
      To do: {{ controlService.tasksToDo }} &nbsp; &nbsp; Done:
      {{ controlService.tasksDone }}
    </div>
  </div>
  <div class="col-6 btnClearFilters">
    <button
      pButton
      type="button"
      label="Clear filters"
      class="p-button-text colorButton"
      (click)="buttonClearFilter()"
    ></button>
  </div>
</div>

<hr class="hrCSS" />

<div>
  <app-table></app-table>
</div>

<div *ngIf="this.controlService.displayCategories">
  <p-dialog
    header="Categories"
    [(visible)]="this.controlService.displayCategories"
    showEffect="fade"
    [modal]="true"
    [style]="{ width: '400px' }"
  >
    <app-categories></app-categories>
  </p-dialog>
</div>

<div *ngIf="this.controlService.displayNewTask">
  <p-dialog
    header="New Task"
    [(visible)]="this.controlService.displayNewTask"
    showEffect="fade"
    [modal]="true"
    [style]="{ width: '600px' }"
  >
    <app-new-task (displayNewTask)="closeNewTask()"></app-new-task>
  </p-dialog>
</div>

<div *ngIf="this.controlService.displayEditTask">
  <p-dialog
    header="Edit Task"
    [(visible)]="this.controlService.displayEditTask"
    showEffect="fade"
    [modal]="true"
    [style]="{ width: '600px' }"
  >
    <app-new-task (displayEditTask)="closeEditTask()"></app-new-task>
  </p-dialog>
</div>
