/* Style the header with a grey background and some padding */
.header {
  background-color: #049c3a;
  padding: 20px 10px;
  color: white;
  font-size: 18px;
  line-height: 25px;
}

/* Style the header links */
.header a {
  color: white;
  padding: 18px;
  font-size: 18px;
  line-height: 25px;
}

/* Change the background color on mouse-over */
.header-right a:hover {
  color: black;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

.filterContainer {
  margin: 15px;
}

.col {
  padding: 10px;
  margin: 10px;
}

.inputSize {
  width: 100%;
}

.checkboxSize {
  display: flex;
  align-items: center;
}

.checkboxLabel {
  margin-left: 10px;
  font-size: 18px;
}

.colorButton {
  color: #049c3a;
  border-style: none;
  background: transparent;
}

.btnClearFilters {
  display: flex;
  justify-content: right;
}

.p-button.p-button-text:enabled:hover {
  color: #049c3a;
}

.marginLabel {
  margin: 5px 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 25px;
}

.rowToDo {
  margin-left: 15px;
  margin-right: 0px;
}

.hrCSS {
  margin-top: -10px;
}
