/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

.dropdownSize {
  width: 100%;
}

.p-chips {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.buttonSave button {
  background-color: #049c3a;
  border-color: #049c3a;
}

.buttonCancel button {
  background-color: #9c9c9c;
  border-color: #9c9c9c;
}

.buttonCancel {
  margin-right: 10px;
}

.noPadding {
  padding: 0% !important;
}

.buttonAdd {
  background-color: #049c3a;
  border-color: #049c3a;
}

.pointer {
  cursor: pointer;
}

.btnTable {
  display: flex !important;
  justify-content: right !important;
}

.btnMargin {
  margin-right: 10px;
}

.colorIcon {
  color: red;
}

.tagColor span {
  background: lightgrey;
  line-height: 12px;
}

.buttons {
  display: flex;
  justify-content: right;
  margin-top: 15px;
}

.width100 {
  width: 100%;
}

.labels {
  margin-top: 10px;
}

.inputGroup {
  display: flex;
}

.p-checkbox .p-checkbox-box.p-highlight {
  background: grey;
  border-color: grey;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
  background: black;
  border-color: black;
}
