<form [formGroup]="formNewTask" (ngSubmit)="buttonNewTask()">
  <div>
    <div class="p-fluid">
      <div class="p-field required">
        <label required>Task Description <a style="color: red">*</a></label>
        <input
          pInputText
          type="text"
          minlength="1"
          class="labels"
          [class.ng-invalid]="formNewTask.invalid"
          [class.ng-dirty]="formNewTask.dirty"
          formControlName="text"
          required
        />
      </div>
    </div>
  </div>

  <div class="grid dropDowns">
    <div class="col-6">
      <label>Category</label><br />
      <div class="labels">
        <p-dropdown
          [options]="this.apiService.categories"
          formControlName="category"
          optionLabel="name"
          [styleClass]="'dropdownSize'"
          placeholder="Select Category"
        ></p-dropdown>
      </div>
    </div>

    <div class="col-6">
      <label>Tags</label><br />
      <div class="labels">
        <p-chips
          class="labels p-chips"
          styleClass="p-chips"
          formControlName="arrayTags"
        ></p-chips>
      </div>
    </div>
  </div>

  <div class="buttons">
    <p-button
      label="Cancel"
      class="p-button-secondary buttonCancel"
      (onClick)="buttonCancel()"
    ></p-button>
    <p-button
      label="Save"
      class="buttonSave"
      type="submit"
      [disabled]="formNewTask.invalid"
    ></p-button>
  </div>
</form>
